
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}


.navbar{
    width: 100%;
    background: #042541;
    color: white;
    display: flex;
    align-items: center;
    padding: 15px 40px;
    justify-content: space-between;
}

.logo{
    font-size: 22px;
    font-weight: bold;
    color:#17CCB9;
}

.nav-links{
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-links li a{
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.nav-links li a:hover{
    color: #01b4e4;
}

.right-items{
    display: flex;
    align-items: center;
    gap: 21px;
}

.lang{
    border: 1px solid white;
    padding: 3px 7px;
    border-radius: 3px;
}

.login, .join{
    color: white;
    text-decoration: none;
}

.join{
    font-weight: bold;
}

.search-icon{
    font-size: 20px;
    cursor: pointer;
}

.hero{
    width: 100%;
    height: 300px;
    background: url('./lion-red-aesthetic-3840x2160-18343.jpg') no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #011D33;
}

.hero-content{
    text-align: left;
    color: rgb(226, 221, 221);
    width: 80%;
    max-width: 900px;

}

.hero-content h1{
    font-size: 48px;
    font-weight: bold;
}

.hero-content p{
    font-size: 22px;
    margin-top: 8px;
}

.search-box{
    margin-top: 25px;
    display: flex;
    width: 100%;
    max-width: 900px;
    background: rgb(38, 179, 204);
    border-radius: 30px;
    overflow: hidden;
}

.search-box input{
    width: 100%;
    border: none;
    padding: 15px 20px;
    font-size: 16px;
    outline: none;
}

.search-box button{
    background: #18CFB4;
    border: none;
    padding: 0 25px;
    font-size: 16px;
    color: rgb(241, 235, 240);
    cursor: pointer;
}
.cardtext-bg-dark>img{
    width: 95rem;
    height:20rem;
    
}
.card-img-overlay{
    color: blue;
}
.card-group :hover{
    /* width:95rem;
    height:10px;
    transition: 2s;
    box-shadow: 0 12px 25px rgba(0,0,0,0.35); */
    

}

.tabs{
  list-style: none;
    display: flex;
    gap: 25px;
    color: black;
    background-color:black;
}
.tabs>.nav-links{
    color: white;
}
.tranding-container{
    display: flex;
    gap: 40px
}
.card-group{
    gap: 25px;
    background-color: #011D33;
}
.card-fourth-container{
    text-align: center;
    display: flex;
     width:60rem;
    height:21rem;
    transition: 2s;
    box-shadow: 0 12px 25px rgba(0,0,0,0.35);
    margin-left: 300px;
    gap:30px;
    background-color:white;
    margin-top: 20px;

}
.card-third-container{
    /* margin-bottom: 320px; */
    margin-top: 20px;
}
.free-watch-container{
    display: flex;
    gap: 40px;
    margin-top: 20px;

}
.card-fifth-container{
    width: 190px;
    height: 24rem;
    display: flex;
    gap: 30px;
    margin-top: 20px;
}
.fift-main-container{
    background-color:#7B30A4;
    color: white;
    display: flex;
    height: 20rem;
    width: 95rem;
    justify-content: center;
    padding-top: 64px;
    margin-top: 20px;
}
.six-main-container{
    background-color: #032038;
    color: white;
    display: flex;
    gap: 30px;
    width: 95rem;
    height: 17rem;
    justify-content: center;
    
}
 
.swiper{
  width:100%    ;
  height:400px;
  gap: 20px;
}
